<h1>Replace some words!</h1>

<form action="/output">
  <div class="form-group">
    <!-- one -->
    <label for="sentence">Write a sentence with 'Finn' in it</label>
    <input id="sent" name="sentence" class="form-control" type="text">
    <!-- two -->
    <label for="sentence_two">Write a sentence with 'Gus' in it</label>
    <input id="sent_two" name="sentence_two" class="form-control" type="text">
    <!-- three -->
    <label for="sentence_three">Write a sentence with 'Aristotle' in it</label>
    <input id="sent_three" name="sentence_three" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Replace!</button>
</form>
